$bg-white: #f9fafc;
$font: 'Poppins', sans-serif;
$color-black: #181817;
$font-color: #fefefe;
$color-yellow: #ffce76;

%inner {
    padding: 100px 0;
}

%yellow-hr {
    border: $color-yellow 2px solid;
    width: 63px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}

%title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    width: 460px;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    hr {
        width: 213px;
        border: 1px solid #5e5e5d;
        margin: 0;
    }
    img {
        height: 10px;
    }
    span {
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

%item-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

body {
    background-color: $bg-white;
    font-family: $font;
    color: $font-color;
    letter-spacing: 2px;
}

html {
    box-sizing: border-box;
}

*, 
*:after, 
*:before {
    box-sizing: inherit;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
}

input::-moz-placeholder {
    color: #cdcdcd;
}

input[type="email"]::-webkit-input-placeholder {
    color: #636363;
}

input[type="email"]::-moz-placeholder {
    color: #636363;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 10px;
}

.header{
    background-color: $color-black;
    &-top {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 700px;
        &-link {
            font-weight: 700;
            padding-bottom: 45px;
            text-transform: uppercase;
            &:hover {
                border-bottom: 4px solid $color-yellow;
            }
        }
    }
    &__icons {
        width: 120px;
        display: flex;
        justify-content: space-between;
        img {
            cursor: pointer;
        }
    }
    &__search-bar {
        position: absolute;
        right: 110px;
        top: 47px;
        display: none;
    }
    &__search-input {
        width: 230px;
        padding: 6px;;
        border-radius: 16px;
        background-color: inherit;
        border: $color-yellow 2px solid;
        outline: none;
        color: #cdcdcd;
    }

    &-slider {
        &__inner {
            display: flex;
            flex-direction: column;
            height: 900px;
            justify-content: center;
        }
        &__item {
            background-image: url(../img/slider-bg.png);
            background-size: cover;
            background-position: top center;
            outline: none;
            background-repeat: no-repeat;
        }
        &__title {
            display: inline;
            font-size: 25px;
            span {
                color: $color-yellow;
                font-weight: 600;
            }
        }
        &__text {
            margin-top: 60px;
            text-transform: uppercase;
            font-size: 60px;
            width: 555px;
            font-weight: 700;
        }
        &__hr {
            @extend %yellow-hr;
        }
    }   
}

.slick-prev, 
.slick-next {
    font-size: 0;
    padding: 25px;
    border-radius: 27px;
    border: #4e4948 1px solid;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-color: inherit;
    top: 513px;
    outline: none;  
    cursor: pointer;
}

.slick-prev {
    background-image: url(../img/arrow-prev.png);
    left: 90px;
    z-index: 1;
}

.slick-next {
    background-image: url(../img/arrow-next.png);
    right: 90px;
}

.advantages {
    background-color: $color-black;
    &__inner {
        @extend %inner;
    }
    &__title {
        @extend %title;
        color: $color-yellow;
    }
    &__description {
        display: flex;
    }
    &__image {
        width: 354px;
        margin: 0px 20px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        &-title {
            color: $color-yellow;
            @extend %item-title;
        }
        &-text {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 1px;
            font-weight: 300;
            color: #dfdfdf;
        }
        &--pos-rel {
            position: relative;
            left: 30px;
        }
        &-info--align-right {
            text-align: right;
            margin-right: 25px;
        }
        &-info--margin-left {
            margin-left: 25px;
        }
        &--reverse {
            flex-flow: row-reverse;

        }
    }
    &__logo {
        height: 71px;
    }
}

.products {
    &__items {
        display: grid;
        grid-template-columns: 20% 38% 23% 19%;
        grid-template-rows: 47% 46%;
    } 
    &__item {
        padding: 100px;
    }
    &__item--font-green {
        color: #749d26;
        background-image: url(../img/products-image-1.png);
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__item--plane {
        padding: 0;
        background-color: #e5e5e5;
    }
    &__image--plane {
        display: block;
        margin: 0 auto;
    }
    &__item--font-blue {
        color: #599ba7;
        background-image: url(../img/products-image-3.png);
        grid-column-start: 3;
        grid-column-end: 5;
    }
    &__item--font-black {
        color: #352b30;
        background-image: url(../img/products-image-4.png);
        grid-column-start: 2;
        grid-column-end: 4;
    }
    &__title {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        width: 143px;
        margin-bottom: 40px;
        &--width {
            width: 216px;
        }
    }
    &__details {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__arrow {
        vertical-align: middle;
    }
}

.collection {

    &__inner {
        padding: 33px;
    }

    &__title {
        @extend %title;
        color: $color-black;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        color: $color-black;
    }

    &__image {
        background-repeat: no-repeat;
        height: 227px;
    }

    &__image--1 {
        background-image: url(../img/collection-item-1.png);
    }

    &__image--2 {
        background-image: url(../img/collection-item-2.png);
    }

    &__image--3 {
        background-image: url(../img/collection-item-3.png);
    }
    
    &__image--4 {
        background-image: url(../img/collection-item-4.png);
    }
    
    &__image--5 {
        background-image: url(../img/collection-item-5.png);
    }
    
    &__image--6 {
        background-image: url(../img/collection-item-6.png);
    }
    
    &__image--7 {
        background-image: url(../img/collection-item-7.png);
    }
    
    &__image--1 {
        background-image: url(../img/collection-item-1.png);
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        width: 269px;
        background-color: #fff;
        margin: 0px 18px 18px 0px;

        &-description {
            padding: 26px;
        }

        &-title {
            @extend %item-title;
        }

        &-subtitle {
            font-size: 14px;
            color: #6d6d6d;
            margin-bottom: 25px;
            letter-spacing: 0;
        }

        &-price {
            font-size: 28px;
            font-weight: 600;
        }
    }
}

.designer {

    &__inner {
        background-image: url(../img/designer-bg.png);
        position: relative;
        @extend %inner;
    }

    &__title {
        @extend %title;
        color: $color-yellow;
    }

    &__bg-cubes {
        position: absolute;
        bottom: 58px;
    }

    &__bg-cubes--1 {
        left: 293px;       
    }

    &__bg-cubes--2 {
        right: 822px;       
    }

    &__bg-cubes--3 {
        right: 410px;       
    }

    &__image {
        margin-bottom: 30px;
    }

    &__items {
        display: flex;
    }

    &__item {
        margin-right: 25px;
        z-index: 1;
    }

    &__name {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        hr {
            @extend %yellow-hr;
            width: 173px;
            border: #ffce76 1.5px solid;
            margin: 0;
        }
    }
}

.project {

    &__inner {
        padding-top: 100px;
    }

    &__title {
        color: $color-black;
        @extend %title;
    }

    &__items {
        display: flex;
        height: 956px;
        outline: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 59px;

        &-title {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &-description {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 10px;
        }
    }

    &__item--1 {
        background-image: url(../img/project-1.png);
    }

    &__item--2 {
        background-image: url(../img/project-2.png);
    }

    &__item--3 {
        background-image: url(../img/project-3.png);
    }

    &__item--4 {
        background-image: url(../img/project-4.png);
    }
}

.project__items.slick-slide {
    display: flex;
}

.blog {

    &__inner {
        @extend %inner;
    }

    &__title {
        @extend %title;
        color: $color-black;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        background-color: #fff;
        width: 372px;

        &-info {
            padding: 40px 25px;
        }

        &-title {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 25px;
            width: 330px;
        }

        &-description {
            color: #31302d;
            font-size: 14px;
            margin-bottom: 37px;
        }
    }

    &__btn {
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding: 14px;
        background-color: $color-yellow;

        img {
            vertical-align: middle;
        }
    }
}

.footer {

    &__inner {
        background-color: $color-black;
        padding: 60px 0px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        letter-spacing: 0;
    }

    &__item {
        border-left: #a28550 3px solid;
        padding: 10px 0px 10px 20px;
        width: 288px;
        margin-bottom: 60px;

        &-info {
            font-size: 14px;
            line-height: 11px;

            p {
                margin: 0;
            }

            &--gray {
                color: #8c8c8b;
            }

            &--line-height {
                line-height: 19px;
            }
        }

        &--border-none {
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    &__title {
        color: $color-yellow;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;

        &--white {
            color: #fff;
            font-size: 30px;
        }
    }

    &__logo-image  {
        margin-bottom: 30px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__input-email {
        background-color: inherit;
        border: 1px solid #636363;
        padding: 15px;
        width: 370px;
        outline: none;
        margin-bottom: 15px;
        background-image: url(../img/arrow-gray.png);
        background-repeat: no-repeat;
        background-position: 329px 19px;
        color: #fff;
    }
}
